@use 'sass:math';

main {
  @apply w-screen h-screen flex flex-col justify-center items-center;
  background: $color;
  padding: $padding;
}
.wrapper {
  @apply flex flex-col gap-6 w-full h-full justify-center items-center shadow shadow-black p-3;
  background: $bgColor;
  border-radius: $radius;
}
p {
  @apply font-bold font-mono;
  text-shadow: #222222 3px 3px 5px;
  color: $color;
  font-size: $fontSize;
}
p.title {
  font-size: $titleSize;
}
button {
  @apply outline-none border-0 shadow shadow-black;
  background: $color;
  color: $bgColor;
  padding: math.clamp(5px, math.round(math.div($padding, 5.5)), 20px) math.clamp(3px, math.round(math.div($padding, 7)), 15px);
  border-radius: math.clamp(0px, math.round(math.div($radius, 4)), 50px);
  text-shadow: #222222 3px 3px 5px;
  font-size: $fontSize;
}